<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00909e;
}

li {
  float: center;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-style: bold;
  font-size: 30px;

}

li a:hover {
  color: #000000;
}
li a{
  text-decoration:none;
}
</style>
</head>

<body>
  <ul>
    <li>Lets make your TodoList</li>

  </ul>
